@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;

}

.name{
    font-size: 20px;
}

main{
    display: flex;
    justify-content: center;
}