.welcome-h2{
    font-size: 50px;
    text-align: center;
    padding: 30px;
}
.welcome{

}
img{
    margin-left: 39%;
    max-width: 140px;
    margin-top: 20px;
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-image img {
    transform: scale(1.05);
}